{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup"],
        "plugins": ["line-numbers"],
        "theme": "one-dark-pro",
        "css": true
      }
    ]
  ]
}
