@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/day-picker.css";
@import "../styles/theme.css";
@import "react-calendar-heatmap/dist/styles.css";
@import "prismjs/themes/prism-tomorrow.css";
@import "../styles/prism.css";
@import "prismjs/themes/prism-dark.css";

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
@layer utilities {
}
/* Path: app/styles/day-picker.css */

rdp {
  --rdp-cell-size: 40px; /* Size of the day cells. */
  --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
  --rdp-accent-color: #42bbff; /* Accent color for the background of selected days. */
  --rdp-background-color: #e7edff; /* Background color for the hovered/focused elements. */
  --rdp-accent-color-dark: #42bbff; /* Accent color for the background of selected days (to use in dark-mode). */
  --rdp-background-color-dark: #180270; /* Background color for the hovered/focused elements (to use in dark-mode). */
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
  --rdp-selected-color: #fff; /* Color of selected day text */
}
.rdp-day-selected,
.rdp-day-selected:hover,
.rdp-day-selected:focus {
  background-color: #42bbff;
  color: var(--rdp-selected-color);
}
.rdp-caption_label {
  color: white;
}
[data-state="completed"] {
  background-color: #42bbff;
  color: black;
}

[data-state="current"] {
  background-color: #42bbff;
  color: #e7edff;
}

[data-state="incomplete"] {
  @apply bg-black-600;
}
.border-profile-top {
  border: 1px solid #4448691a;
}
.code-editor-container {
  position: relative;
  border: 1px solid #000;
}
.code-editor-textarea {
  font-family: monospace;
  resize: none;
  line-height: 1.5;
  padding-left: 20px;
  width: full;
  white-space: nowrap;
  background-color: #2e3757;
  color: aliceblue;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #1212121a;
  height: 200px;

  box-shadow: 0px 1px 1px 0px #1212121a;
}
.code-editor-line-numbers {
  position: absolute;
  font-family: monospace;
  top: 12.5px;
  left: 0;
  line-height: 1.5;
}
.code-editor-textarea:focus {
  outline: none;
}
.code-editor-container::-webkit-scrollbar {
  background-color: white;
}
.code-editor-container::-webkit-scrollbar-thumb {
  background-color: white;
}
.tox-statusbar {
  display: none !important;
}

.tox-toolbar__primary {
  background-color: #2e3757 !important;
}

.tox-editor-header {
  background-color: #2e3757 !important;
  border-bottom: 0 !important;
}

.tox-tinymce {
  border: 1px solid #131625 !important;
}

.tox-edit-area__iframe {
  background-color: #131625 !important;
}

.warning-box a {
  color: #42bbff;
  text-decoration: underline;
  font-weight: 500;
}

.warning-box::before {
  content: "";
  background: url("/assets/icons/warning.svg");
  background-size: contain;
  background-position: center;
  color: white;
  margin-left: 8px;
  margin-right: 14px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.error-box a {
  color: #ff4c3f;
  text-decoration: underline;
  font-weight: 500;
}

.error-box::before {
  content: "";
  background: url("/assets/icons/red-x.svg");
  background-size: contain;
  background-position: center;
  color: white;
  margin-left: 8px;
  margin-right: 14px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.information-box a {
  color: #2e3757;
  text-decoration: underline;
  font-weight: 500;
}

.information-box::before {
  content: "";
  background: url("/assets/icons/information.svg");
  background-size: contain;
  background-position: center;
  color: white;
  margin-left: 8px;
  margin-right: 14px;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap {
  border: 1px solid #1d2032;
  border-radius: 6px;
  padding: 15px;
}

.react-calendar-heatmap text {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  fill: #55597d;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}
/* 
.react-calendar-heatmap-weekday-labels {
  transform: translate(-10px, 14);
} */

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #1d2032;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #1d2032;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}

.tabs-shadow {
  box-shadow: 0px 1px 3px 0px #0b13241a;

  box-shadow: 0px 1px 1px 0px #0b13241a;
}
