@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .auth-layout {
    @apply h-screen bg-black-900  flex flex-col items-center justify-start gap-y-40 pt-[72px];
  }
  /* Display 1 Bold */
  .display-1-bold {
    @apply text-[32px] leading-10 font-bold;
  }

  /* Display 2 Bold */
  .display-2-bold {
    @apply text-3xl leading-8 font-bold;
  }

  /* H1 Medium */
  .h1-medium {
    @apply text-2xl leading-7 font-medium;
  }

  /* H2 Medium */
  .h2-medium {
    @apply text-base leading-[26px] font-medium; /* Custom line height */
  }

  /* Paragraph 1 Bold */
  .paragraph-1-bold {
    @apply text-xl leading-7 font-bold;
  }

  /* Paragraph 2 Bold */
  .paragraph-2-bold {
    @apply text-base leading-6 font-bold;
  }

  /* Paragraph 3 Bold */
  .paragraph-3-bold {
    @apply text-sm leading-5 font-bold;
  }

  /* Paragraph 1 Medium */
  .paragraph-1-medium {
    @apply text-xl leading-7 font-medium;
  }

  /* Paragraph 3 Medium */
  .paragraph-3-medium {
    @apply text-sm leading-5 font-medium;
  }

  /* Paragraph 4 Medium */
  .paragraph-4-medium {
    @apply text-xs leading-4 font-medium;
  }

  /* Paragraph 1 Regular */
  .paragraph-1-regular {
    @apply text-xl leading-7 font-normal;
  }

  /* Paragraph 2 Regular */
  .paragraph-2-regular {
    @apply text-base leading-6 font-normal;
  }

  /* Paragraph 3 Regular */
  .paragraph-3-regular {
    @apply text-sm leading-5 font-normal;
  }

  /* Paragraph 4 Regular */
  .paragraph-4-regular {
    @apply text-xs leading-4 font-normal;
  }

  /* Caption Small */
  .caption-small {
    @apply text-[10px] leading-[12px] font-normal; /* Custom font size and line height */
  }
  /* Login Button */
  .login-btn {
    @apply py-2.5 px-3.5 bg-primary-500 text-black-900 rounded text-left h-9 w-full;
  }
  .social-login-btn {
    @apply py-2 px-3.5 bg-black-900 text-white-300 rounded text-left h-9 w-full;
  }
  .social-login-shadow {
    box-shadow:
      0px 0px 0px rgba(18, 18, 18, 0.1),
      0px 1px 1px rgba(18, 18, 18, 0.1);
  }
  .social-btn-shadow {
    box-shadow:
      0px 1px 3px rgba(18, 18, 18, 0.1),
      0px 0px 0px rgba(18, 18, 18, 0.07),
      0px 1px 1px rgba(18, 18, 18, 0.1);
  }
  .sidebar-left {
    @apply w-[292px] flex flex-col h-screen bg-black-700 fixed left-0;
  }
  .sidebar-right {
    @apply w-[290px] flex flex-col h-screen bg-black-700 fixed right-0;
  }
  .sidebar-btn {
    @apply rounded-md py-3 px-1.5 w-[235px] h-[38px] text-white-100 bg-gradient-to-r from-[#43b7fe] to-[#4f48e6] flex gap-1 items-center justify-center;
  }
  .no-outline {
    @apply border-none focus-visible:!ring-0 focus-visible:!ring-transparent focus-visible:!ring-offset-0;
  }
  .sidebar-icon_border {
    border: 1.5px solid rgba(85, 89, 125, 1);
  }
  .upload-button {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 199px;
    height: 36px;

    /* Black/700 */
    background: #1d2032;
    /* Button/Secondary/normal */
    box-shadow:
      0px 1px 1px rgba(18, 18, 18, 0.1),
      0px 0px 0px 1px rgba(18, 18, 18, 0.07),
      0px 1px 3px rgba(18, 18, 18, 0.1);
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .profile-input {
    @apply w-[256px] h-[38px] rounded-md bg-black-700 text-white-100;
  }
  .profile-goals-wrapper {
    @apply paragraph-3-regular flex flex-row justify-between gap-[14px] w-full;
  }
  .profile-goals {
    @apply px-3 py-3.5;
  }
  /* .profile {
    align-items: center;
    padding: 14px 12px;
    gap: 8px;

    width: 800px;
    height: 48px;

   
    background: #1d2032;
    
    box-shadow:
      0px 1px 1px rgba(18, 18, 18, 0.1),
      0px 0px 0px 1px rgba(18, 18, 18, 0.1);
    border-radius: 4px;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  } */
  .profile-sidebar-wrapper {
    @apply w-full flex flex-col justify-start gap-[6px] mt[50px] ml-[28px] absolute;
  }
  .profile-sidebar-avatar-wrapper {
    @apply flex flex-row size-9 rounded-[2px];
  }
  .sidebar-avatar {
    @apply size-9 rounded-[2px];
  }
  .profile-sidebar-details {
    /* title */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 118px;
    height: 36px;

    @apply order-1 flex-grow-0 flex-col;
  }
  .vertical-divider {
    /* Line 3 */

    width: 20px;
    height: 0px;

    /* White/300 */
    border: 1px solid #adb3cc;
    transform: rotate(90deg);

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    /* field */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 12px;
    gap: 8px;

    width: 800px;
    height: 52px;

    /* Black/700 */
    background: #1d2032;
    box-shadow:
      0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 1px 1px rgba(18, 18, 18, 0.1);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    @apply w-[1px] h-[36px] bg-black-800;
  }
  .profile-shadow {
    box-shadow:
      0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 1px 1px rgba(18, 18, 18, 0.1);
  }
  .tech-badges {
    @apply px-0.5 py-1 gap-1 rounded-[3px] bg-black-600 text-white-100 h-[24px] border-[1px] w-full;
  }
  .tech-field {
    /* field */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 12px;
    gap: 8px;

    width: 800px;
    height: 52px;

    /* Black/700 */
    background: #1d2032;
    box-shadow:
      0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 1px 1px rgba(18, 18, 18, 0.1);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .auto-layout {
  }
}
